.block-garage__button {
    padding: 5px;
}

.block-garage__road-container {
    display: flex;
    align-items: flex-start;
    border-bottom: white 2px solid;
    height: 50px;
    position: relative;
    left: 0;
}

.block-garage__flag {
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 70px;
    background: url('./flag.svg') no-repeat;
}

.block-garage__road-container svg {
    position: absolute;
    bottom: 0;
    left: 0;
}


@keyframes moving {
    from {
        left: 0;
      }
      to {
        left: calc(100% - 60px);
      }
}