.block-garage__button {
    padding: 5px;
}

.block-garage__road-container {
    display: flex;
    align-items: flex-start;
    border-bottom: white 2px solid;
}

.block-garage__flag {
    width: 20px;
    height: 30px;
    position: absolute;
    right: 150px;
    background: url('./flag.svg') no-repeat;
}