.winners-block__container {
    display: flex;
}

.winners-block__header-table {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0;
    background-color: rgb(69, 165, 165);
    border: solid 1px beige;
}

.winners-block__table-line {
    display: flex;
    border: solid 1px beige;
    justify-content: center;
    align-items: center;
}

.wins-sort, .time-sort {
    cursor: pointer;
}