.garage-block {
  position: relative;
}

.garage-block__button {
    margin-right: 10px;
    padding: 5px;
}

.garage-block__modal-window {
  position: absolute;
  text-align: center;
  z-index: 2;
  right: 45%;
}

.garage-block__modal-window_unvisible {
  display: none;
}