.garage-block {
  position: relative;
}

.garage-block__button, .garage-block__pagination-prev, .garage-block__pagination-next {
    margin: 0 10px 10px 0;
    padding: 5px;
}

.garage-block__pagination-prev, .garage-block__pagination-next {
   background-color: inherit;
   border: #f20 1px solid;
   border-radius: 30px;
   color:azure
}

.garage-block__pagination-prev:disabled, .garage-block__pagination-next:disabled {
  background-color: inherit;
  border: azure 1px solid;
  border-radius: 30px;
  color:azure;
}

.garage-block__modal-window {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 120px;
  right: 35%;
  color: #fff;
  text-shadow: 0 0 2px #eee, 0 0 4px #fff, 0 -2px 4px #ff3, 2px -4px 6px #fd3, -2px -6px 11px #f80, 2px -8px 18px #f20;
  font-size: 20px;
}

@media (max-width: 800px) { 
  .garage-block__modal-window {
    right: 2%;
    font-size: 16px;
  }
 }

.garage-block__modal-window_unvisible {
  display: none;
}

input {
  display: inline-block;
  height: 20px;
  outline: none;
  border: none;
}

.garage-block__input-block {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 10px;
}